# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/
**/doc/api/

# Generated Android local configuration
android/local.properties
android/key.properties
android/*.keystore
android/*.jks
android/.gradle/
android/**/build/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
